{% extends 'base.html' %}

{% block title %}
Register Page
{% endblock %}

{% block content %}


<body class="text-center">
    <div class="container">
        <h3>Please Create Your Account</h3>
        <form action="" method="POST" 
        class="form-register" style="color: white;">
            {{ form.hidden_tag() }}
        <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control",placehoder="User Name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control",placehoder="Email Address")}}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control",placehoder="Password")}}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control",placehoder="Confirm Password")}}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br>
            <div class="checkbox mb-3">
                <h6>Already have an account? </h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
             </div>

        </form>
    </div>
</body>

{% endblock %}